/*
 *                        _oo0oo_
 *                       o8888888o
 *                       88" . "88
 *                       (| -_- |)
 *                       0\  =  /0
 *                     ___/`---'\___
 *                   .' \\|     |// '.
 *                  / \\|||  :  |||// \
 *                 / _||||| -:- |||||- \
 *                |   | \\\  - /// |   |
 *                | \_|  ''\---/''  |_/ |
 *                \  .-\__  '-'  ___/-. /
 *              ___'. .'  /--.--\  `. .'___
 *           ."" '<  `.___\_<|>_/___.' >' "".
 *          | | :  `- \`.;`\ _ /`;.`/ - ` : | |
 *          \  \ `_.   \_ __\ /__ _/   .-` /  /
 *      =====`-.____`.___ \_____/___.-`___.-'=====
 *                        `=---='
 * 
 * 
 *      ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * 
 *            佛祖保佑       永不宕机     永无BUG
 */
@import '../common/var';
@import './config.scss';
/* BEM 规范 */

// 样式作用域
@mixin Block($name) {
  $blockName: $name-prefix + $name !global; // 全局变量
  #{$blockName} {
    // .axe-button
    @content;
  }
}

// 修饰符
@mixin Modifier($modifier){
  // $activeModifier: $modifier + '-active';
  @each $key,$val in $modifier {
    @at-root {
      &#{$blockName + $separator + $key} {
        // &.axe-button-primary
        color: $white;
        background: $val;
        border: 1px solid $val;
        @content;
        // &:focus,
        // &:hover{
        //   @each $keyAct,$valAct in $activeModifier {
        //     background: $valAct;
        //     border: 1px solid $valAct;
        //   }
        // }
      }
    }
  }
}