* {
  margin: 0;
  padding: 0;
}
body{
  padding: 45px 20px;
}
.area{
  margin: 20px 0;
  padding: 45px 20px;
  background: #fbfbfb;
  border: 1px solid #eee;
  border-radius: 4px;
  box-shadow: 1px 3px 5px #ccc;
}
.area h3{
  margin-bottom: 10px;
}